---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*header {

}*/
a {
text-decoration: none;
color: #1e4ce9;
}



body > header {
  padding: 20px 0;
}

/*main {
  background-color: yellow;
}*/

/*footer {
  background-color: green;
}*/

.wrapper {
  margin: auto;
  padding: 0 40px ;
}

body {
  font-family: "Helvetica", sans-serif;
  color: #444;
}

.site-title {
  float: left;
  margin: 0;
}

.posts {
  list-style: none;
  padding: 0;
}

.posts li {
  border-bottom:  1px solid #efefef;
}

.posts li:last-child {
  border-bottom:  0;
}

.posts li a {
  text-decoration: none;
  color: #555;
}

.date {
  font-size: 60%;
  color: #999;
  float: right;
}

.site-title a {
  text-decoration: none;
  color: #444;
}

.site-nav {
  float: right;
}

.site-nav ul {
list-style: none;
margin: 0;
padding: 0;
}

.site-nav ul li {
  display: inline-block;
}

.site-nav ul li a {
  display: block ; /* Tüm etrafına tıklayabilmek için */
  padding: 4px 8px ;
  text-decoration: none;
  color: #444;
  font-weight: 700;
}

.clear {
  clear: both;
}

.site-footer {
  color: #888;
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid #efefef;
}
